
h1 {font-family: 'Marko One', serif;
    color: #993399;
    font-size: 1.5em;
    text-align: center; 
    text-shadow: .1em .1em silver;}
    p { font-family:  Verdana;
        text-align: center; }
    .label {font-weight: bolder;}
    h2 {
        color: #CC6600;
        letter-spacing: 8px;
        font-size: 1em;
        text-align: center; 
        text-transform: uppercase;
       }
    #appetizers {text-align: center;}
    dt {color:#A0522D;}
    span.price {font-family: Georgia, 'Times New Roman', Times, serif;
    color: #D3D3D3;}
    strong {color: #FF6347;}
    .warning {color: #FF0000;
    font-size: small;}
    .c1 {list-style-type: lower-roman;}
    .c2 {list-style-type: circle;}
    .c3 {text-indent: 1%;
    list-style-type: disc;}
    .c4 {
        list-style-image: url(/images/bull.PNG);
        list-style-position: outside;
        font-weight: bolder;
        font-size: x-large;
        }

    body{ background-color: #D2DC9D}
    #div1 {background-color: white;
        opacity : 0.5;
    background-image: url(/images/gooseshadow.png), url(/images/purpledot.png), url(/images/purpledot.png);
    background-repeat: no-repeat, repeat-y, repeat-y;
    background-position: 80% 100%, left, right ;
   
     
}

    #appetizers {color: #993399;}

    body {
        background-image: url(/images/bullseye.png);
        background-repeat: round;
        }
    



    body {
                background-image: url(/images/blackgoose.png);
                
                background-origin: content-box;
                background-repeat: no-repeat;
                background-position: center;
                }  
        

        